#projects {
    position: relative;
    background-color: $yellow;
    padding-top: 70px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .projects {
        position: inherit;
        z-index: 3;
        padding: 0px 20%;
    }
    .title_projects{
        color:$light-yellow;
    }
    img.leaves_projects{
        position: absolute;
    transform: scaleX(-1);
    transform: rotate(271deg);
    height: 15%;
    bottom: 0;
    left: 0;
    z-index: 2;
    }
    #triangle {
        position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 70vh solid $light-yellow;
    border-right: 100vw solid transparent;
    animation: 1s linear move;
    z-index: 0;
    }
}
#listOfProjects{
    background-color: $white;
}

@keyframes move {
    0% {
        margin-top: 120px;
    }
    100% {
        margin-top: 0px;
    }
}
