#projects {
    padding: 0px 80px 120px 80px;
    position: relative;
    background: linear-gradient(to top, $yellow,$light-yellow, $light-yellow);
    .titleProjects {
        color: $black;
    }
    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 60px 10px 0px 10px;
        gap: 5%;
        row-gap: 30px;
    }
}
@media screen and (max-width: 900px) {
    #projects {
        padding: 80px 40px;
        .projects {
            justify-content: space-around !important;
        }
    }
}
@media screen and (max-width: 450px) {
    #projects {
        padding: 80px 10px;
    }
}
