.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    background-color: $light-yellow;
    z-index: 7;
    animation: background-animation 0.5s 2.5s ease forwards;

    #Calque_2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20%;
        height: auto;
    }
    .svg-animation {
        animation: move 0.4s 2.5s ease forwards;
    }
    .line-A,
    .big-line-X,
    .small-line-X,
    .round-line-A {
        fill: black;
        fill-opacity: 1;
        stroke: black;
        stroke-width: 1;
        stroke-dasharray: 0;
        stroke-dashoffset: 100;
        animation: draw 3s linear forwards;
    }
}

@keyframes background-animation {
    0% {
        background-color: $light-yellow;
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes move {
    0% {
        transform: translate(-50%, -50%);
        height: 120px;
    }
    100% {
        top: 0;
        left: 0;
        height: 50px;
        padding: 10px 0px;
        opacity: 0;
    }
}
@keyframes draw {
    0% {
        stroke-dasharray: 0; /* Pas de traits */
        stroke-dashoffset: 100; /* Décalage du tracé*/
        fill-opacity: 0;
        stroke-width: 0;
    }
    10% {
        stroke-width: 0.3; /* Largeur du contour */
    }
    50% {
        fill-opacity: 0;
        stroke-width: 0.3;
    }
    60% {
        fill-opacity: 0.5; /* Remplissage partiel*/
    }
    90% {
        fill-opacity: 1;
    }
    100% {
        stroke-dasharray: 100; /* Pas de trait complet*/
        stroke-dashoffset: 0;/* Pas de décalage du tracé */
        stroke-width: 0;/* Pas de contour */
        fill-opacity: 1;/* Remplissage complet*/
    }
}
