@font-face {
    font-family: "Ginger";
    src: url("../fonts/Ginger.woff") format("woff"),
        url("../fonts/Ginger.ttf") format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&display=swap");

:root {
    --main-color: #fa9f41;
    --secondary-color: #fdefe5;
    --tertiary-color: #000000;
    --last-color: #ffffff;
    --color-nav: rgba(253, 239, 229, 0.6);
}
[data-theme="dark"] {
    --main-color: #baa284;
    --secondary-color: #191c1e;
    --tertiary-color: #f6f4ee;
    --last-color: #ffffff;
    --color-nav: rgba(25, 28, 30, 0.6);

    // transition: all 3s ease-in-out;
}
[data-theme="dark"] li > img {
    filter: invert(99%) sepia(16%) saturate(2671%) hue-rotate(202deg)
        brightness(120%) contrast(91%);
}
section {
    transition: all 0.05s ease-in-out;
}
body {
    font-family: "Heebo", sans-serif;
    font-weight: 300;
    color: var(--tertiary-color);
    // transition: all 0.05s ease-in-out;
}
h1 {
    font-family: "Ginger", sans-serif;
    font-size: 80px;
    font-weight: 600;
    text-align: center;
}
h2 {
    font-family: "Ginger", sans-serif;

    font-size: 70px;
    font-weight: 600;
    text-align: center;
}
h3 {
    font-family: "Ginger", sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
h4 {
    font-size: 40px;
}
h5 {
    font-size: 30px;
}
h6 {
    font-size: 20px;
}
b {
    font-weight: 500;
}
p,
input,
textarea {
    font-family: "Heebo", sans-serif;
    font-weight: 300;
    font-size: 18px;
}
label {
    font-family: "Ginger", sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.portfolio {
    min-height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 40px;
    }
    h5 {
        font-size: 25px;
    }
    //   p{
    //     font-size:15px;
    //   }
}
