.dark_mode {
    margin-top: -20px;
    margin-left: 10px;
}

.dark_mode_label {
    width: 65px;
    height: 30px;
    position: relative;
    display: block;
    background: var(--secondary-color);
    border: 1px solid var(--main-color);
    border-radius: 200px;
    // box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    //     inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}
.dark_mode_label:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3px;
    left: 3px;
    background: var(--main-color);
    border-radius: 180px;
    transition: 0.3s;
}
.dark_mode_input {
    width: 0;
    height: 0;
    visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
    background: var(--secondary-color);
}
.dark_mode_input:checked + .dark_mode_label:after {
    left: 62px;
    transform: translateX(-100%);
    background: var(--main-color)
}
.dark_mode_label:active:after {
    width: 30px;
}

.dark_mode_label svg {
    position: absolute;
    width: 20px;
    top: 5px;
    z-index: 5;
}
.dark_mode_label svg.sun {
    left: 5px;
    fill: #fff;
    transition: 0.3s;
}
.dark_mode_label svg.moon {
    left: 40px;
    fill: #7e7e7e;
    transition: 0.3s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
    fill: #7e7e7e;
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
    fill: #fff;
}

@media screen and (max-width : 768px){
    .dark_mode {
    margin-right:100px;

    overflow: hidden;
}
.dark_mode_label:after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    // transition: 0.9s;
}
.dark_mode_input:checked + .dark_mode_label:after {
    display: none;
    
}
    .dark_mode_label {
        width: 30px;
    border: 0px;
}
.dark_mode_label svg.moon {
left :5px;
}
[data-theme="dark"] .dark_mode_label svg.sun {
    display: none;
}
[data-theme="light"] .dark_mode_label svg.moon {
    display: none;
}
}