.container-form-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.491);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 4;
    align-items: center;
    .form-modal {
        position: relative;
        margin-top: 70px;
        width: auto;
        height: auto;
        background-color: $light-yellow;
        border-radius: 10px;
        .modal-content {
            width: auto;
            padding: 20px;
            > p {
                font-weight: 400;
            }
        }
    }
}
