#about {
    background-color: $light-yellow;
    padding-top: 70px;
    padding-bottom: 80px;
    z-index: 1;
    position: relative;
    display: flex;
    height: calc(100vh - 70px);
    .container_about {
        display: flex;
        padding: 40px 60px 40px 0;
        align-items: start;
        justify-content: start;
        justify-items: start;
        gap: 5%;
        align-items: center;
        z-index: 3;
        .womanCoding {
            height: 100%;
            width: 30%;
            object-fit: cover;
        }
        .content_about {
            display: flex;
            flex-direction: column;
            max-height: 100%;
            align-items: flex-start;

            .title_about {
                margin-bottom: 20px;
            }
            .dev_about {
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                width: 90%;
                & > h2 {
                    font-family: "Heebo", sans-serif;
                    font-weight: 300;
                    font-size: 30px;
                }
            }
            .description_about {
                line-height: 1.3em;
            }
        }
    }
    .shapeAbout {
        transform: rotate(269deg);
        position: absolute;
        height: 50%;
        bottom: -30%;
        left: 74%;
        z-index: 2;
        opacity: 0.5;
    }
}
@media screen and (max-width: 900px) {
    .container_about {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 0px !important;
        .womanCoding {
            max-height: 50%;
            width: 100% !important;
            object-position: right 17%;
        }
    }
    .content_about {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        overflow-y: auto;
        .dev_about {
            align-items: center !important;
            .subtitle_about {
                font-size: 25px !important;
            }
        }
        .description_about {
            margin: 0px 5%;
        }
    }
}
@media screen and (max-width: 425px) {
    .womanCoding {
        max-height: 30% !important;
    }
}
