nav {
    top: 0%;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, .45);
    backdrop-filter: blur(16px);
    height: 70px;
    z-index: 100;
    .container {
        margin: 0 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            height: 70px;
        }
        li {
            display: inline-block;
            text-align: center;
            a {
                margin-left: 40px;
                color: black;
                font-size: 1.1em;
                text-decoration: none;
                &:hover {
                    color: #f9ac19;
                }
                &:active {
                    text-decoration: underline;
                    border: 2px solid red;
                }
            }
        }
    }

    .nav-border {
        border-bottom: 1px solid black;
        margin: 0 40px;
        animation: borderAnimation 1.5s ease-in-out reverse forwards;
    }

    @keyframes borderAnimation {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(94%);
        }
    }
}
