#contact {
    padding-top: 80px;
    background-color: $light-yellow;
    .container-form-contact {
        position: relative;
        margin-top: 60px;
        padding: 60px 60px 120px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $yellow;
        border-radius: 15% 15% 0 0;

        .form-contact {
            display: flex;
            flex-direction: column;
            width: 70%;
            label {
                margin-bottom: 10px;
            }
            input,
            textarea {
                padding: 20px;
                margin-bottom: 5%;
                border: 1px solid $light-yellow;
                border-radius: 10px;
                background-color: $light-yellow;
            }
        }
    }
}

@media screen and (max-width: 768px) {
        .container-form-contact {
        padding: 60px 0px 120px 0px !important;
        }
}
