#contact {
    background-color: $light-yellow;
    padding-top: 40px;
    border-top: 1px solid black;
    .error-message {
        color: red;
        padding-bottom: 20px;
    }
    .container-form-contact {
        position: relative;
        padding: 60px 60px 120px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        .form-contact {
            display: flex;
            flex-direction: column;
            width: 50%;
            label {
                margin-bottom: 10px;
            }
            input,
            textarea {
                padding: 15px;
                margin-bottom: 5%;
                border: 2px solid $yellow;
                border-radius: 10px;
                background-color: $light-yellow;
                &:focus {
                    border: 2px solid $black;
                    outline: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container-form-contact {
        padding: 60px 0px 120px 0px !important;
        .form-contact {
            width: 80% !important;
        }
    }
}
